*{
    align-items: center;
    text-align: center;
padding: 10px;
border-radius: 5px;
}
.title{
    text-decoration: underline;
}
.body{
    background-color: aliceblue;
}

table,td,th{
    border: 2px solid gray;
    align-items: center;
}

