/* @import url('https://fonts.cdnfonts.com/css/spring-everyday'); */


*{ 
    /* font-family: "Times New Roman", Times, serif; */
    font-family: 'Poppins';
    /* font-family: "Sofia", sans-serif; */
    margin: 0;
    /* overflow-x:hidden; */
}

body{
    align-items: center;
    background-color: rgb(235, 235, 255);
}

header{
    /* display: flex; */
    margin-top: 2vh;


    /* background-color: rgb(175, 213, 246); */
}
.header{
    /* display: flex; */
    border-radius:30px;
    border:1px solid rgb(175, 213, 246);
    justify-content: center;
    align-items: center;
    margin-left:15vw ;
    margin-right: 15vw;
    background-color: rgb(177, 219, 255);;
    transition: 0.2s ease-in-out;
}
.header:hover{
    box-shadow: 3px 3px 8px 3px rgb(163, 193, 218);
  }
.navbar{
    padding-left: 3vw;
    padding-right: 3vw;
    height: 8vh;
    width: auto;
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    justify-content: space-between;
    background-color: transparent;
}
.userprofile{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(116, 177, 227);
    height: 5vh;
    width: 5vh;
    transition: 0.2s ease-in-out;
}
.userprofile:hover{
    box-shadow:1px 1px 8px 1px rgb(0, 109, 182);
}

.bg{
    /* height: 100vh; */
    width: 100vw;
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10vh;
}

.middle{
    background-color: rgb(180, 239, 255);
    /* height: 100vh; */
    width: 65vw;
    margin-left: 17.3vw;
    margin-top: 5vh;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    padding-bottom:35px ;
}
/* rgb(253, 237, 217); */
.wallet-n-search-wrapper{
    border-top-right-radius:30px;
    border-top-left-radius:30px;
    border:1px solid transparent;
    background-color: rgb(255, 246, 214);
    padding-bottom: 3vh;
    flex-wrap: wrap;
    /* margin-bottom: 3vh; */
    padding-bottom: 3vw;
}

.wallet-n-search{
    padding-top: 3vh;
    display: flex;
    height: 6vh;
    width: 100%;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.walletname{
    font-family: "Sofia", sans-serif;
    margin-left: 3vw;
    background-color: transparent;
    color: black;
    height: 6vh;
    width: 12vw;
}
.searchbar{
    display: flex;
    justify-content: space-between;
    margin-right: 3vw;
    background-color: aliceblue;
    height: 4vh;
    width: 10vw;
    padding-top: 1vh;
    padding-left: 2vh;
    align-items: center;
    justify-content: center;
    border-radius:30px;
    border:1px solid transparent;
    padding-bottom:0.6vh ;
     box-shadow: 2px 2px 8px 2px rgb(175, 213, 246);
     transition: 0.2s ease-in-out;
}

.searchbar:hover{
    box-shadow: 3px 3px 9px 3px rgb(175, 213, 246);
}

.balance{
    font-family: "Sofia", sans-serif;
    margin-left: 3vw;
    background-color: transparent;
    color: black;
    height: 6vh;
    width: 10vw;
}
.dollars{
    display: flex;
    /* flex-direction: column; */
    margin-right: 3vw;
    background-color: transparent;
    height: 4vh;
    width: 13vw;
    padding-left: 2vh;
    padding-top: 1vh;
    align-items: center;
    /* margin-bottom: 5vh; */
}

#totalbalance{
    margin-left: 3vw;
    margin-right: 1vw;
}

#toggleBudgetButton{

    height: 4vh;
    width: 2vw;
    display: flex;
    background-color: rgb(175, 213, 246);
    align-items: center;
    justify-content: center;
    border-radius:50%;
    border:1px solid #dcdcdc;   
    transition: 0.2s ease-in-out;
}

#toggleBudgetButton:hover{
    box-shadow: 2px 2px 8px 2px rgb(175, 213, 246);;
    transform: scale(1.003);
    background-color: rgb(176, 231, 252);
    /* transform: rotate(45deg); */
    /* padding: 3px; */
}

.insidedollars{
    display: flex;
    position: fixed;
    align-items: center;
    position: absolute;

}
#updateBudgetButton{
    /* height: 1vh;
    width: 1vw; */
}
.insideedit{
    display: flex;
    /* position: absolute; */
}
.nameinput{
    /* margin-left: 40px; */
    background-color: aliceblue;
    padding:2vh;
    height: 4vh;
    width: 13vw;
    margin-right: 1vw;
    border-radius:30px;
    border:1px solid transparent;
     box-shadow: 2px 2px 8px 2px rgb(175, 213, 246);
     transition: 0.2s ease-in-out;
}
.nameinput:hover{
    box-shadow: 3px 3px 9px 3px rgb(175, 213, 246);
}

.amountinput{
    /* margin-left: 15vw; */
    background-color: aliceblue;
    padding:2vh;
    height: 4vh;
    width: 12vw;
    margin-right: 1vw;
    border-radius:30px;
    border:1px solid transparent;
     box-shadow: 2px 2px 8px 2px rgb(175, 213, 246);
     transition: 0.2s ease-in-out;
}
.amountinput:hover{
        box-shadow: 3px 3px 9px 3px rgb(175, 213, 246);
}

.dateinput{
    /* margin-left: 40px; */
    background-color: aliceblue;
    padding:2vh;
    height: 4vh;
    width: 12vw;
    margin-right: 1vw;
    border-radius:30px;
    padding-right: 2vw;
    border:1px solid transparent;
     box-shadow: 2px 2px 8px 2px rgb(175, 213, 246);
     transition: 0.2s ease-in-out;
}
.dateinput:hover{
    box-shadow: 3px 3px 9px 3px rgb(175, 213, 246);
}
#dateField{
    width: 9vw;
}


.addcard{
    background-color: rgb(211, 234, 253);
    height: 11vh;
    width: 59vw;
    display: flex;
    /* flex-wrap: wrap ; */
    justify-content: center;
    align-items: center;
    margin-left: 3vw;
    border-radius: 30px;
    /* padding-right: 1vw; */
    /* padding-left: 1vw; */

}


#editbar{
    display: flex;
    background-color: aliceblue;
    height: 4vh;
    width: 10vw;
    padding-top: 1vh;
    padding-left: 2vh;
    align-items: center;
    justify-content: center;
    border-radius:30px;
    position: absolute;
    top: 23vh;
    border:1px solid transparent;
    padding-bottom:0.6vh ;
     box-shadow: 1px 1px 8px 1px #245e90;
     transition: 0.1s ease-in-out;
     /* animation: moveRight 0.7s  ease-in-out forwards; */
}



@keyframes moveLeft {
    0% {opacity: 100%;}
    40% {opacity: 70%;}
    60% {opacity: 40%;}
    75% {opacity: 0%;}
    100% {opacity: 0%;}
    from {left:80vw}
    to {left:70vw}  
}



@keyframes moveRight {
    0% {opacity: 0%;}
    40% {opacity: 10%;}
    60% {opacity: 70%;}
    75% {opacity: 100%;}
    from {left: 70vw}
    to {left:80vw}  
}


#editbar:hover{
       box-shadow: 3px 3px 9px 3px rgb(175, 213, 246);
  }



.addbutton{
    margin-right: 0vw;
    background-color: rgb(175, 213, 246);
    /* padding-top: 1vh;
    padding-left: 1vh; */
    /* padding-right: 1vh; */
    /* padding: 29px; */
    height: 8vh;width: 4vw;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}

.addbutton:hover{
    box-shadow: 1px 1px 8px 1px rgb(118, 191, 255);;
    transform: scale(1.003);
    background-color: rgb(176, 231, 252);;
    /* padding: 3px; */
}

.cardswrapper{
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    padding-right: 3vw;
}
.card{

    margin-top: 2.2vh;
    height: 12vh;
    width: 100%;
    background-color: rgb(126, 210, 255);
    display: flex;
    flex-direction: row;
    border-radius:30px;
    border:1px solid transparent;
    transition: 0.2s ease-in-out;
}
.card:hover{
    box-shadow: 2px 2px 8px 2px rgb(116, 181, 238);;
  }

.left{
    display: flex;
    height: 100%;
    background-color: transparent;
    width: 50%;

}
.iconpayment{
    height: 100%;
    width: 10vw;
    background-color: transparent;

}
.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-top:2.3vh ;
    padding-left: 2vw;
}
.detailname{
    height: 50%;
    background-color: transparent;
}
.detaildate{
    height: 50%;
    background-color: transparent;
    color: rgb(51, 51, 51);
    margin-bottom: 3vh;
}
.right{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
    background-color: transparent;
    padding-right: 0.6vw;
}

.amountspent{
    height: 70%;
    width: 30%;
    background-color: transparent;
    margin-right: 2vw;
    margin-top: 5vh;
}

.popbutton{
    height: 70%;
    width: 20%;
    background-color: rgb(150, 222, 251);
    margin-right: 2vw;
    border-radius:30px;
    border:1px solid transparent;
    display: flex;
    justify-content: center;
    align-items:  center;
    transition: 0.2s ease-in-out;
}

.popbutton:hover{
    box-shadow: 2px 2px 8px 2px rgb(114, 181, 240);
    transform: scale(1.003);
    background-color: rgb(176, 231, 252);;
    /* padding: 3px; */
  }

.billing{
    height: 10vh;
     margin-left: 1vw;
     margin-top: 1vh;

}

input{
    outline: none;
}

.closeimg{
    width: 1.5  vw;
    height: 2vh;
}


.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);   
backdrop-filter: blur(5px); 
}

.dialog-box {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 20px;
background-color: white;
border-radius: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
z-index: 999; 
display: flex;
justify-content: center;
align-items: center;
}

.btns{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.dialog-box #yesbtn{
    height: 2vw;
    width: 3vw;
    padding: 4px;
    background-color: #4d80ad;
    border-radius: 10px;
    border: none;
    margin-right: 1vw;
    transition: 0.2s ease-in-out;
}

.dialog-box #nobtn{
        height: 2vw;
    width: 3vw;
    background-color: grey;
    padding: 4px;
    border-radius: 10px;
    border: none;
    transition: 0.2s ease-in-out;

}

.dialog-box #yesbtn:hover{
    background-color: #21517a;;
}

.dialog-box #nobtn:hover{
    background-color: rgb(88, 88, 88);
}



@media only screen and (max-width: 1200px) {
    .dollars{
        width: 16vw;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar{
        font-size: 12px;
    }
    .dollars{
        width: 22vw;
        flex-wrap: wrap;
    }
    .addcard{
        height: 9.5vh;
        margin-bottom: 4vh;
    }

    #toggleBudgetButton{
        width: 3vw;
    }
    .detailname,.detaildate{
        margin-left: 0vw;
    }
    .iconpayment img{
        width: 60px;
    }
}





@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .navbar{
        width: auto;
    }
    .wallet-n-search-wrapper{
        height: 70vh;
    }
    .wallet-n-search-wrapper, .card, .addcard {
      width: 100%;
    }
    .addcard{
        margin-top: 4vh;
        margin-right: 1vw;
        padding-bottom: 1vh;
    }
    .middle{
        width: 90%;
        margin-left: 5vw;
    }
    .nameinput,.amountinput,.dateinput{
        width: 17vw;
    }
    .addbutton{
        margin-left: 1vw;
        width: 9vw;
    }
    #dateField{
        width: 16vw;
    }
    .wallet-n-search-wrapper{
        height: 35vh;
    }
    .searchbar{
        width: 13vw;
    }
    .detaildate,.detailname{
        margin-left: 1vw;
        width: 31vw;
        
    }
    .amountspent{
        margin-top: 2vh;
        margin-right: 2vw;
    }
    .dollars{
        width: 26vw;
        flex-wrap: wrap;
    }

    #toggleBudgetButton{
        width: 5vw;
    }
    #editbar{
        display: flex;
        background-color: aliceblue;
        height: 4vh;
        width: 14vw;
        padding-top: 1vh;
        padding-left: 2vh;
        align-items: center;
        justify-content: center;
        border-radius:30px;
        position: absolute;
        top: 29vh;
        border:1px solid transparent;
        padding-bottom:0.6vh ;
         box-shadow: 1px 1px 8px 1px #245e90;
         transition: 0.1s ease-in-out;
    }
    .dialog-box #yesbtn{
        width: 8vw;
        height: 5vh;
    }
    .dialog-box #nobtn{
        width: 8vw;
        height: 5vh;
    }
}






@media only screen and (max-width: 490px) {
    .wallet-n-search{
        font-size: 12px;
    }
    .navbar{
        font-size: 12px;
    }
    .card{
        font-size: 15px;
    }
    .middle{
        font-size: 15px;
    }
    .dollars{
        width: 35vw;
        flex-wrap: wrap;
    }
    .iconpayment img{
        display: none;
    }

}


@media only screen and (max-width: 400px) {
    .wallet-n-search{
        font-size: 12px;
    }
    .navbar{
        font-size: 12px;
    }
    .dollars{
        width: 37vw;
        flex-wrap: wrap;

    }
      .detailname,.detaildate{
        font-size: 10px;
        margin-left: 5vw;
    }
    .card{
        font-size: 10px;
    }
    .middle{
        font-size: 10px;
    }
    .iconpayment img{
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    .wallet-n-search{
        font-size: 10px;
    }
    .navbar{
        font-size: 12px;
    }
    .dollars{
        width: 42vw;
        flex-wrap: wrap;
    }
    .addcard{
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        height: 8vh;
        width: 90%;
    }
    .nameinput,.dateinput,.amountinput{
        width: 10vw;
    }
    #dateField{
        width: 8vw;
    }
    .detailname,.detaildate{
        width: 25vw; 
        font-size: 10px;
        margin-left: 0vw;
    }
    .iconpayment img{
        display: none;
    }
    .card{
        font-size: 10px;
    }
    .middle{
        font-size: 10px;
    }
}

@media only screen and (max-width: 250px) {
    .wallet-n-search{
        font-size: 9px;
        display: flex;
        flex-direction: column;
    }
    .walletname{
        display: none;
    }
    .searchbar{
        display: none;
    }

    .navbar{
        font-size: 12px;
    }
    .dollars{
        width: 50vw;
        flex-wrap: wrap;

    }
    .addcard{
        display: flex;
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        /* height: 20vh; */
        width: 90%;
    }

    .nameinput,.dateinput,.amountinput{
        width: 10vw;
    }
    #dateField{
        width: 8vw;
    }
    .detailname,.detaildate{
        width: 25vw; font-size: 10px;
        margin-left: 15vw;
    }
    .card{
        font-size: 10px;
    }
    .iconpayment img{
        display: none;
    }
    .middle{
        font-size: 10px;
    }
}
